/* Main Container */
.container-fluid {
  padding-left: 0px !important;
}

/* Container for progress tracker */
.progress-tracker {
  padding: 25px;
  max-width: 100%;
  margin: 0 auto;
  font-family: "Poppins", system-ui;
  font-weight: 300;
  font-style: normal;
}

.ml-custom {
  margin-left: 90px;
  /* or try 20px or 30px */
}

.message {
  font-family: "Poppins", system-ui;
  text-align: center;
  font-weight: 600;
}

.error-message {
  color: red;
  margin: 10px 0;
}

.success-message {
  color: green;
  margin: 10px 0;
}

.createproject_layout {
  height: auto;
  max-width: 100% !important;
  object-fit: contain;
  background-color: rgba(211, 211, 211, 0.1);
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  overflow-y: auto;
}

.form_label {
  font-weight: 600 !important;
  display: block;
  font-size: 1.1rem;
  /* font-weight: 500; */
  color: #000;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .radio_button_container input[type="checkbox"] {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
  }

  .createproject_Heading {
    background: linear-gradient(135deg, #2b2b2b, #555555 70%, #888888);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
    font-family: "Poppins", system-ui;
    font-weight: 500 !important;
    font-style: normal;
    font-size: xx-large !important;
    text-align: center;
  }

  .createproject_title {
    color: #005596 !important;
  }

  .form_label {
    font-weight: 500 !important;
    display: block;
    font-size: 1rem;
    /* font-weight: 500; */
    color: #000;
  }

  .createproject_form input[type="text"],
  .createproject_form input[type="number"],
  .project_image,
  .form_textarea,
  .createproject_datepicker {
    width: 95% !important;
  }

  .createproject_layout {
    width: 100%;
    margin-left: 15px;
  }
}

/* Toggle Switch Container */
.toggle-switch-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin-bottom: 10px;
}

/* Bootstrap Toggle Switch */
.form-check-input {
  width: 40px;
  height: 20px;
  cursor: pointer;
}

/* On State */
.form-check-input:checked {
  background-color: #005596;
  border-color: #004680;
}

/* Off State */
.form-check-input:not(:checked) {
  background-color: #ccc;
  border-color: #aaa;
}

.button-home {
  margin-top: 25px;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .radio_button_container input[type="checkbox"]:first-of-type {
    margin-left: 15px;
  }

  .radio_button_container input[type="checkbox"]:not(:first-child) {
    margin-left: 50px;
  }

  .radio_button_container input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .createproject_Heading {
    background: linear-gradient(135deg, #2b2b2b, #555555 70%, #888888);
    -webkit-background-clip: text;
    background-clip: text;
    color: #005596;
    /* color: transparent;
    -webkit-text-fill-color: transparent; */
    margin-left: 10px;
    font-family: "Poppins", system-ui;
    font-weight: 600 !important;
    font-style: normal;
    font-size: xxx-large !important;
  }
}

.createproject_form input[type="text"],
.createproject_form input[type="number"],
.form_textarea {
  display: block;
  width: 75%;
  padding: 10px;
  /* margin: 10px; */
  border: 2px solid #6a6a6a;
  border-radius: 12px;
  font-size: 16px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  /* margin-bottom: 10px; */
}

.disabled-textarea {
  background-color: #e0e0e0 !important;
  color: #666 !important;
  cursor: not-allowed;
  opacity: 0.7;
}

.submit {
  display: block;
  margin: 20px auto;
  /* Auto margin centers the button horizontally */
  padding: 10px 20px;
  border: 2px solid #6a6a6a;
  border-radius: 5px;
  cursor: pointer;
}

.radio_button_container span {
  font-family: "Poppins", system-ui;
  margin-left: 5px;
}

.createproject_form {
  padding-left: 20px;
}

.createproject_form input[type="text"]:focus,
.form_textarea:focus {
  border-color: #444;
  box-shadow: 0 0 8px rgba(100, 90, 100, 0.8);
  outline: none;
}

.createproject_datepicker,
.project_image {
  display: block;
  cursor: pointer !important;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 2px solid #6a6a6a;
  border-radius: 13px;
  font-size: 16px;
  color: #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.loading-overlay {
  position: fixed;
  ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* Semi-transparent background */
  z-index: 1100;
  /* Ensure the overlay is above the form */
}

.disabled-textarea {
  background-color: #f1f1f1;
  color: #aaa;
  cursor: not-allowed;
  opacity: 0.8;
}