/* .admin-dashboard {
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  
  .loading-spinner {
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  
  .user-stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .table th, .table td {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
  }
   */