.text-heading {
  font-weight: 500 !important;
  font-size: 55px;
  margin-left: 8px;
  text-align: left;
  color: #005596;
}

.expandable-title {
  cursor: pointer;
  color: #005191;
  font-size: 24px;
  font-weight: bold;
}

.expandable-title:hover {
  text-decoration: underline;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.team-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.team-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 7px;
}

.member-link {
  text-decoration: none;
  color: black;
}

.member-link:hover {
  color: #005191;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.social-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transition: opacity 0.3s;
}

.disabled-link .social-icon {
  opacity: 0.5;
  /* Make it look faded if no link */
  cursor: not-allowed;
}

.container {
  min-height: calc(100vh - 150px);
  /* Ensures container fills the screen minus the footer */
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
  /* Allows content to take up remaining space */
}

.footer {
  margin-top: auto;
}

.project-overview {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-overview:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.project-overview h2 {
  color: #005191;
  font-size: 28px;
  margin-bottom: 15px;
  border-bottom: 2px solid rgba(0, 81, 145, 0.3);
  padding-bottom: 10px;
}

.project-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.project-description {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}