.container {
    /* max-width: 600px; */
    margin: auto;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .settings-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .toggle-switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .save-btn {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
  }
  
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  