/* logs.css */
/* .logs-container {
    padding: 20px;
} */

/* .logs-container h1 {
    font-size: 24px;
    margin-bottom: 15px;
} */

.table-responsive {
    overflow-x: auto;
}

.text-success {
    color: green;
}

.text-danger {
    color: red;
}
.text-title {
    color: #005596;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.btn-search {
    background-color: #005596;
    color: white;
}

.btn-search:hover {
    color: white;
    background-color: #004680;
}